@font-face {
    font-family: "Jackerton";
    src: url("../fonts/Jackerton/Jackerton-beta-Regular.otf");
}

:not(i),
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4d4d4c;
}

.jackerton {
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
}

.mobile {
    display: none;
}

b, strong {
    font-weight: 600;
}

pre {
    color: red !important;
}
.pointer {
    cursor: pointer;
}

div#load {
    vertical-align: middle;
    position: fixed;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #ffffffa1;
    z-index: 999999;
    align-content: flex-start;
}

div#load i {
    color: #1c4ab4;
    font-size: 90px;
    position: relative;
    top: 50%;
    margin-top: -45px;
}

html .page-padrao {
   min-height:300px;
   padding-top: 50px;
}

.page-padrao *{
    color:#fff;
}


.tabela-estilo-1 table td {
    background: #d1d3d4;
    border-radius: 11px;
    border: 2px solid #fff;
    padding: 3px 11px !important;
    font-weight: 500;
}

.page-padrao table a {
    color: #5c5c5b;
    font-weight: 500;
}

.no-image {
    min-width: 100%;
    min-height: 182px;
    background-size: contain;
}

.alert-danger, .alert-danger * {
    color: #a94442 !important;
}

.alert-success, .alert-success * {
    color: #3c763d !important;
}

.alert-warning, .alert-warning * {
    color: #8a6d3b !important;
}

input.form-control, select.form-control {
    border-color: #01218e;
    color: #01218e;
}

select.form-control * {
    color: #012592;
}

.center-2 {
    width: 738px;
    margin: auto;
}

.center-3 {
    margin: auto;
    width: 930px;
}

.padding-0 {
    padding: 0px;
}

img {
    max-width: 100%;
}


body {
    overflow-x: hidden;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.maring-top--90 {
    margin-top: -90px;
}

.header .user-details {
    letter-spacing: 0px !important;
    text-align: left;
    padding-left: 142px;
    margin-bottom: -5px;
    margin-top: -10px;
    color: #fff;
}

.header .user-details a {
    font-family: 'Roboto' , sans-serif;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0px;
}

.form-header-login input {

    border: 1px solid #00218f;
}

.form-header-login label {
    display: block;
    height: 19px;
    font-weight: 600;
    color: #001f8d;
}

.fundo-1 {
    background: url('../img/fundo-menu-laraja.png') center no-repeat;
    background-size: contain;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 20px;
    height: 115px;
    overflow: hidden;
}

.fundo-1 a,
.fundo-4 a {
    color: #fff;
    font-size: 25px;
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
    display: -webkit-inline-box;
    line-height: 24px;
    vertical-align: middle;
    letter-spacing: 1.4px;
    font-variant: none;
}

.header .fundo-1 li a {
    font-size: 21px;
}

.fundo-1 a:hover,
.fundo-1 .active a,
.fundo-4 a:hover,
.fundo-4 .active a {
    color: #10298e;
    text-decoration: none;
}

.fundo-2 {
    background: #ffd902 url(../img/fundo-amarelo.png) center repeat-y;
    background-size: cover;
}

.fundo-3 {
    background: #00a0d8 url(../img/fundo-azul.png) center repeat-y;
    background-size: cover;
}

.fundo-3 a:hover,
.fundo-1 .active a {
    color: #10298e;
    text-decoration: none;
}

.fundo-4 {
    background: url('../img/fundo-menu-branco.png') center no-repeat;
    background-size: contain;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 20px;
    height: 115px;
}

.footer .fundo-4 {
    padding: 33px;
}

.fundo-4 a {
    color: #10298e;
}

.fundo-4 a:hover {
    color: #0099d0;
}

.fundo-5 {
    background: #00a0d8 url(../img/fundo-azul-2.png?V2) center repeat-y;
    background-size: cover;
    padding-top: 18px;
}

.fundo-5 a, .fundo-5 p {
    color: #fff;
    font-weight: 400;
}

a.list-group-item, button.list-group-item {
    color: #082790;
}

.fundo-5 .nav a:hover, .fundo-5 .nav p:hover {
    color: #191919;
}

.alert .close {
    color: #000;
}


.botao-1 {
    background: #00218f;
    color: #fff;
}

.botao-1:hover, .botao-1:focus {
    background: #fff;
    color: #00218f;
}


.botao-2 {
    background: #ffd701;
    color: #112a8e;
    font-weight: 600;
}

.botao-2:hover, .botao-2:focus {
    background: #fff;
    color: #00218f;
}

.botao-3 {
    background: #112a8e url('../img/icons/botao-upload.png') center no-repeat;
    background-size:cover;
    padding: 16px;
}


.botao-4 {
    padding: 5px;
    border-radius:10px;
    border-color: #012390;
    color: #012390;
    cursor: pointer;
    font-weight: 600;
    margin-right: 4px;
}

.botao-4 * {
    color: #012390;
}

.botao-5 {
    background: white;
    color: #02228e;
    border: 1px solid #02228e;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}

.botao-6 {
    background: #02228e;
    color: #fff;
    border: 1px solid #02228e;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
}

.botao-6[disabled='disabled'] {
    background: #021e7d99;
}

.botao-7 {
    background: #168e04;
    color: #fff;
    border: 1px solid #02228e;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
}

.scroll {
    overflow-y: scroll;
    min-height: 300px;
}

.box-1 {
    background: #fff;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    max-height: 500px;
}

.box-2 {
    background: #fff;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    max-height: none;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	border-radius: 10px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar
{
	width: 16px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0c258a;

}

form.form-header-login {
    margin-left: 216px;
    position: relative;
    z-index: 1;
}

.borderRightBranco {
    border-right: 1px solid #fff;
}

.borderLeftBranco {
    border-left: 1px solid #fff;
}

.header .details {
    width: 193px;
    padding: 13px 0px 13px 6px;
    border-left: 1px solid #002290;
}

.header .details a, .header .details b {
    color: #002290;
}

.comeca-menu .list-inline>li {
    padding: 10px 5px;
}

.header-logado .comeca-menu .list-inline>li {
    padding: 15px;
}

.comeca-menu {
    position: relative;
    width: 966px;
    margin: auto;
    padding-top: 33px;
}

.comeca-menu img.mao-esquerda {
    position: absolute;
    top: 0px;
    left: 0px;
}

.comeca-menu img.mao-direita {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header {
    height: 233px;
    background: url('../img/fundo-header.png') center repeat-x;
    position: relative;
}

.header.header-logado, .page-participar .header, .page-produtos-participantes .header, .page-ganhadores .header {
    background: url(../img/fundo-header-logado.png) center repeat-x;
    height: 158px;
    margin-bottom: -33px;
}

.page-participar .header .center-2, .page-produtos-participantes .header .center-2, .page-ganhadores .header .center-2 {
    display: none;
}

.corpo-home {
    margin-top: -6px;
    padding-top: 20px;
}

.footer {
    height: 233px;
    background: url(../img/fundo-footer.png) top center repeat-x;
    position: relative;
}

.footer p {
    color: #0034a2;
    font-weight: 500;
    margin-top: 20px;
}

.footer i {
    font-size: 35px;
    color: #fff;
}

.icon-instagram i {
    background: white;
    color: #00a9e2;
    padding: 2px;
    border-radius: 5px;
    font-size: 29px;
    position: relative;
    top: -2px;
}

.icon-facebook span,
.icon-instagram span {
    color: #fff;
    font-size: 28px;
}

.footer .center-2 a:hover,
.footer .center-2 i:hover,
.footer .center-2 a:hover span {
    color: #002492;
    text-decoration: none;
}

.footer .center-2 .icon-instagram i:hover {
    background: #002492;
    color: #fff;
}

.footer .center-2 {
    margin: 10px auto;
}

.chamada-form {
    margin-bottom: 20px;
    margin-top: -80px;
    padding-right: 20px;
}

.chamada-form label {
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.chamada-form input,.chamada-form select {
    border: 1px solid #012592;
}

.chamada-form .number {
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
    color: white;
    background: #10298e;
    font-size: 39px;
    padding: 0px 12px;
    display: block;
    min-width: 38px;
    border-radius: 7px;
}

.chamada-form .texto {
    color: #fff;
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
    font-size: 41px;
    letter-spacing: 0.5px;
}

.box-1 .nav-tabs>li>a {
    color: #8a8686;
    border-color: #0b3ea8;
    border-bottom-color: transparent;
    font-weight: 500;
}

.box-1 .nav-tabs>li.active>a {
    color: #0b3ea8;
}

.box-1 .nav-tabs {
    border-bottom-color: #012592;
}

.box-1 th span, .box-2 th span {
    border: 1px solid #ddd;
    padding: 5PX 18px;
    display: block;
    border-radius: 10px;
    font-weight: 500;
    color: #4d4d4c;
}

.box-1 .table {
    margin-top: 20px;
}

.modal-estilo-1 .modal-header .modal-title {
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
    font-size: 40px;
    color: #112a8e;
}

.modal-estilo-1 .modal-content * {
    color: #122b8e;
    font-size: 17px;
}

.modal-estilo-1 .modal-content h3 {
    font-weight: 500;
}

.modal-estilo-1 .modal-content table td {
    border: 1px solid #040404;
    padding: 10px;
}

.modal-estilo-1 .modal-header {
    border: none;
    padding-bottom: 0px;
}

.modal-estilo-1 .modal-header .close {
    border: 1px solid #122b8e;
    padding: 0px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    font-size: 19px;
    text-align: center;
    opacity: 1;
    color: #122b8e;
}

.modal-estilo-1 .modal-content {
    border: 2px solid #122b8e;
}


.modal-estilo-2 .modal-header .modal-title {
    font-family: 'Jackerton', 'Baloo Chettan', cursive;
    font-size: 40px;
    color: #ffffff;
}

.modal-estilo-2 .modal-content * {
    color: #122b8e;
}

.modal-estilo-2 .modal-header {
    border: none;
    padding-bottom: 0px;
}

.modal-estilo-2 .modal-header .close {
    border: 1px solid #ffffff;
    padding: 0px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    font-size: 19px;
    text-align: center;
    opacity: 1;
    color: #ffffff;
}

.modal-estilo-2 .modal-content {
    background: #ff8d00 url(../img/fundo-popup.png) center no-repeat;
    background-size: cover;
}

.menu_meus_dados  {
    padding: 0px;
}

.menu_meus_dados > li {
    display: inline-block;
    background-color: #eeeeee;
    cursor: pointer;
    border-left: 5px solid #01228f;
    margin: 5px 0px;
    width: 100%;
    padding: 8px 10px;
    color: #02273f;
}

.menu_meus_dados > li a {
    padding: 0px;
    color: #01218f;
}

.menu_meus_dados > li.active, .menu_meus_dados > li:hover {
    color: #012390;
    border-left-color: #fd7f13;
    font-weight: bold;
}


.menu_meus_dados > li.active a, .menu_meus_dados > li:hover a{
    color: #fd7f13;
    border-left-color: #fd7f13;
    font-weight: bold;
}

.input-group-btn > button {
    border-color: #01228f;
    color: #012390;
}

.input-group-btn > button i {
    color: #01228f;
}

.input-group-btn > button:hover {
    color: #012390;
}

.page-adm .header-logado .comeca-menu .list-inline>li, .page-relatorios .header-logado .comeca-menu .list-inline>li, .page-adm .mobile li, .page-relatorios .mobile li {
    display: none;
}

.page-adm .mobile li.adm, .page-relatorios .mobile li.adm {
    display:block;
    width:100%;
    float: left;
    border:none;
    margin: 0px !important;
}

.page-adm .header-logado .comeca-menu .list-inline>li.adm, .page-relatorios .header-logado .comeca-menu .list-inline>li.adm {
    display: table;
}

.header-logado .comeca-menu .list-inline>li.adm {
    display: none;
}

.area-adm .arquivo a {
    color: #242424;
}

.area-adm {
    border: 1px solid #d1d3d4;
    border-radius: 10px;
}

.area-adm  i.pointer.fa.fa-plus {
    color: #012390;
    border: 1px solid #012390;
    padding: 5px;
    border-radius: 18px;
    font-size: 17px;
}

.tabela-estilo-1 a {
    color: #4d4d4c;
    font-weight:500;
}

.linha-produtos-unidades .botao-4 {
    padding: 3px;
    height: 29px;
}

.linha-produtos-unidades {
    margin-bottom: 4px;
}

.tabela-estilo-1 {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}

.justificativa b {
    color: #02228e;
    font-size: 18px;
}

.justificativa .badge {
    background: white;
    color: #02228e;
    border: 1px solid #02228e;
    font-size: 16px;
}

.justificativa textarea {
    border-color: #02228e;
}

.glyphicon-ok, .glyphicon-remove  {
    display: none;
}

.has-success .glyphicon-ok, .has-error .glyphicon-remove {
    display: block;
    background: white;
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.has-success .glyphicon-ok {
    border: 1px solid #3c763d;
    border-left: none;
}


.has-error .glyphicon-remove  {
    border: 1px solid #a94442;
    border-left: none;
}

header.mobile .navbar-default {
    background-color: #0989bb;
    border-color: #0989bb;
    box-shadow: 0px 0px 6px -1px #000;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

header.mobile .user-details-mobile {
    background: #ffaf01 url(../img/fundo-header-mobile-login.png) no-repeat;
    background-size: cover;
    background-position: 0px -48px;
    padding: 10px;
    box-shadow: 0px 3px 6px -3px #000;
    position: relative;
}

header.mobile .user-details-mobile a {
    color: #01228f;
}

header.mobile .navbar-default .navbar-nav>.active>a, 
header.mobile .navbar-default .navbar-nav>.active>a:focus, 
header.mobile .navbar-default .navbar-nav>.active>a:hover {
    background: #027196;
    color: white;
}

header.mobile .navbar-default .navbar-toggle {
    border: none;
}

header.mobile .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

header.mobile .navbar-default .navbar-nav>li>a {
    color: #fff;
}

header.mobile {
    margin-bottom: 0px;
}

.home header.mobile {
    margin-bottom: -15px;
}

.page-participar header.mobile form, .page-produtos-participantes header.mobile form {
    display: none;
}

#perguntas-frequentes table, #perguntas-frequentes th, #perguntas-frequentes td {
    border: 1px solid black;
    border-collapse: collapse;
}
#perguntas-frequentes th, #perguntas-frequentes td {
    padding: 15px;
    border:1px solid #000;
}

#perguntas-frequentes table {
    width:100%;
}

.page-produtos-participantes .box-textos {
    background: white;
    padding-left: 48px;
    min-height: 583px;
    margin-bottom: 55px;
    border: 2px solid #1e4bb5;
}

.page-produtos-participantes .box-textos h2 {
    color: #000;
    font-size: 21px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.page-produtos-participantes .box-textos * {
    font-weight: 500;
}

.page-produtos-participantes .box-images li {
    border: 2px solid #1e4bb5;
    margin-bottom: 11px;
    position: relative;
    z-index: 1;
    width: 100%;
    background: white;
    right: -2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page-produtos-participantes .box-images li a {
    border: none !important;
}

.page-produtos-participantes .box-images li a img {width: 100%;}

.page-produtos-participantes .box-images li.active {
    border-right: none;
}

.page-produtos-participantes .box-images .col-xs-12 {
    padding: 0px;
}

.page-produtos-participantes .box-images ul.nav.nav-tabs {
    border: none;
}

.modal-content .corpo {
    height: 70vh;
    margin-bottom: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #122b8e;
}

.banner-home-display {
    background: #fff; 
    margin-top: -25px;
}

.bicicleta-home{
    margin-top: -100px;
}
/*-------------------------------------------------*/

@media screen and (max-width: 1000px){
    .maring-top--90 {
        margin-top: 0px;
    }

    form.form-header-login {
        margin: auto;
        background: url('../img/fundo-header-mobile-login.png') no-repeat;
        background-size: cover;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: -5px;
        position: relative;
    }

    .page-ganhadores form.form-header-login {
        margin-bottom: -14px;
    }

    form.form-header-login > .row {
        margin: 10px;
    }
}

@media screen and (max-width: 980px){
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .center-2 {
        width: 97%;
    }

    .comeca-menu {
        width: 100%;
    }

    .footer .comeca-menu img.mao-esquerda {
        width: 60px;
    }

    .footer .comeca-menu img.mao-direita {
        width: 60px;
    }

    .footer .comeca-menu ul.list-inline.fundo-4 {
        width: 75%;
        background-repeat: repeat-y;
        background-color: white;
        height: auto;
        padding: 15px;
        box-shadow: 0px 0px 26px -11px #000;
        margin-top: -28px;
    }

    .footer .center-2 {
        width: 100%;
        background: #00a7df;
        padding: 13px;
        margin: 0px;
    }

    .center-2.txtregulamento {
        background: #fff;
    }
    .redes-sociais .col-xs-6 {
        width: 100%;
        text-align: center;
    }

    .topotitle * {
        color: #011a90;
    }

    .row.topotitle {
        margin-bottom: 10px;
    }

    .row.topotitle .borderRightBranco.col-xs-6 {
        border-color: #1c4ab4;
    }

    .chamada-form {
     margin: 0px;
 }

 .page-upload-de-nota-fiscal .col-xs-8 {
    width: 100%;
    margin: 21px auto;
}

.fundo-5 {
    padding: 0px;
}

.page-participar .col-xs-8 {
    width: 100%;
    margin: 20px auto;
}

.banner-home-display {        
    margin-top: -8px;
}

.bicicleta-home{
    margin-top: 0px;
}
}